<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted" />
        <span :class="{'is-completed': todo.isCompleted}">{{ todo.text }}</span>
      </li>
    </ul>

    <!-- 
    <ul v-for = "todo in todos" :key ="todo.id">
      <input type="checkbox" v-model="todo.isCompleted" />
      <li :class="{'is-completed': todo.isCompleted}">{{ todo.text }}</li>
    </ul> -->
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {

        const todos = ref([
        { id: 1, text: '할일 1', isCompleted: false },
        { id: 2, text: '할일 2', isCompleted: true },
        { id: 3, text: '할일 3', isCompleted: false },
        ])


        return {
          todos,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
